* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 600px;
  margin: 35px;
  padding: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical-align {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}

.weather-display {
  width: 40%;
}

.location-list {
  width: 60%;
}

.img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}
